


<table class="table table-striped table-hover table-bordered">
         <thead>
                 <tr>
                     <th>order_id</th>
                     <th>ordered_at</th>
                     <th>subtotal</th>
                     
                     
                    
                    
                     <th></th>
                    
                 </tr>
         </thead>
       <tbody>

            <% @orders.each do |order| %>
                <tr>
                    <td> <%= order.id %></td>
                    <td><%=  order.created_at %></td>
                    <td> <%= order.subtotal  %></td>
                   
                   
                </tr>
            <% end %>
        </tbody> 
        </table> 