/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css?family=Quicksand|Rubik");
#header-index {
  font-size: 36px;
  font-family: "Smooch", cursive;
}
.grid-system {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  background-color: white;
  padding: 1px;
  overflow: hidden;
}
.image-pattern {
  height: 150px;
  width: 150px;
  padding: 3px;
}
.para-styling {
  font-family: "Edu TAS Beginner", cursive;
}
.head-styling {
  color: gray;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1800;
  font-size: 25px;
}
