/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #e7d8d3;
  color: #5f2b19;
}
table,
th,
td,
tr {
  color: #5f2b19;
}

@import url("https://fonts.googleapis.com/css?family=Quicksand|Rubik");
#header-index {
  font-size: 36px;
  color: black;
  font-family: "Smooch", cursive;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {
    font-family: "Edu VIC WA NT Beginner", cursive;
  }
  to {
    font-family: "Dancing Script", cursive;
    font-size: 23px;
  }
}
.grid-system {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1px;
  background-color: white;
  padding: 1px;
  overflow: hidden;
}

.image-pattern {
  height: 150px;
  width: 150px;
  padding: 3px;
}
.para-styling {
  font-family: "Edu TAS Beginner", cursive;
}
.head-styling {
  color: gray;
  font-family: "Shadows Into Light", cursive;
  font-weight: 1800;
  font-size: 25px;
}
#demo2 {
  font-size: 23px;
}

#card {
  padding: 22px;
  position: fixed;
  right: 56px;
}
.jumnew {
  color: black;
}
.jumfont {
  font-family: "Shadows Into Light", cursive;
}
.jumhead {
  font-size: 23px;
}
.jumimg {
  height: 300px;
  transition: width 2s, height 4s;
}
.jumimg:hover {
  width: 600px;
  height: 600px;
}
.jumdesc {
  font-family: "Shadows Into Light", cursive;
  animation-name: example1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example1 {
  from {
    color: black;
  }
  to {
    color: red;
    font-size: 2rem;
  }
}

.excel-report {
  float: right;
}
.shoppingmart {
  position: fixed;
  right: 15rem;
  top: 9rem;
}
.shoppingmart_val {
  position: fixed;
  right: 14rem;
  top: 8rem;
  font-weight: 700;
}
.rak1 {
  position: relative;
  right: 350px;
  width: 59rem;
  margin: 0px;
  bottom: 22px;
}
.griddisplay {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
}
.rak2 {
  width: 53rem;
  position: relative;
  right: 22rem;
  bottom: 24px;
}
#rak3 {
  color: #5f2b19;
  font-family: "Smooch", cursive;
}
.rak4 {
  color: #c39f91;
  line-height: 4px;
}
#rak5 {
  color: black;
}
#rak6 {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
}
.rak7 {
  border-radius: 12px;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-color: #c39f91;
}
@keyframes example2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rak8 {
  position: relative;
  width: 124rem;
  right: 34rem;
  height: 27rem;
  background-color: #5f2b19;
}
.rak9 {
  background-color: #5f2b19;
  color: white;
}
.rak13 {
  font-family: "Smooch", cursive;
  color: #c39f91;
  background-color: #5f2b198d;
}

.grid13 {
  display: default;
}
.grid13:hover {
  opacity: 0.1;
}
